In [1]:
import pandas as pd
import numpy as np

# 대전 대기 월평균으로 결측값 채우기

In [18]:
# 결측값 채우기 전 파일
air = pd.read_csv("air.csv")
air

,date,SO2 (ppm),PM10 (ug/m3),O3 (ppm),NO2 (ppm),CO (ppm),PM2.5 (ug/m3)
0,2017-06-01,0.001,42.0,0.024,0.023,0.5,24.0
1,2017-06-02,0.002,34.0,0.030,0.023,0.6,14.0
2,2017-06-03,0.003,25.0,0.032,0.021,0.5,11.0
3,2017-06-04,0.003,31.0,0.040,0.020,0.5,14.0
4,2017-06-05,0.004,35.0,0.033,0.031,0.7,14.0
...,...,...,...,...,...,...,...
1486,2021-06-26,0.003,19.0,0.036,0.018,0.4,10.0
1487,2021-06-27,0.003,22.0,0.040,0.014,0.4,13.0
1488,2021-06-28,0.003,24.0,0.038,0.018,0.4,15.0
1489,2021-06-29,0.003,25.0,0.037,0.019,0.4,16.0
1490,2021-06-30,0.003,38.0,0.034,0.024,0.4,23.0

In [4]:
air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1491 entries, 0 to 1490
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1491 non-null   object
 1   SO2 (ppm)      1480 non-null   float64
 2   PM10 (ug/m3)   1491 non-null   float64
 3   O3 (ppm)       1475 non-null   float64
 4   NO2 (ppm)      1476 non-null   float64
 5   CO (ppm)       1480 non-null   float64
 6   PM2.5 (ug/m3)  1491 non-null   float64
dtypes: float64(6), object(1)
memory usage: 81.7+ KB

In [19]:
air.columns = ['date', 'SO2', 'PM10', 'O3', 'NO2', 'CO', 'PM2.5']

In [7]:
df_null = air[air['PM10'].isnull()]
index_list = air.index[air['PM10'].isnull()].tolist()

for i in index_list:
    month = air[air['date'].str.contains(air['date'][i][:7]+'-')]
    n = round(month['PM10'].mean(),0)
    air.at[i,'PM10'] = n

air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1491 entries, 0 to 1490
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1491 non-null   object
 1   SO2     1480 non-null   float64
 2   PM10    1491 non-null   float64
 3   O3      1475 non-null   float64
 4   NO2     1476 non-null   float64
 5   CO      1480 non-null   float64
 6   PM2.5   1491 non-null   float64
dtypes: float64(6), object(1)
memory usage: 81.7+ KB

In [8]:
df_null = air[air['PM2.5'].isnull()]
index_list = air.index[air['PM2.5'].isnull()].tolist()

for i in index_list:
    month = air[air['date'].str.contains(air['date'][i][:7]+'-')]
    n = round(month['PM2.5'].mean(),0)
    air.at[i,'PM2.5'] = n

air.info()

0

In [20]:
df_null = air[air['SO2'].isnull()]
index_list = air.index[air['SO2'].isnull()].tolist()

for i in index_list:
    month = air[air['date'].str.contains(air['date'][i][:7]+'-')]
    n = round(month['SO2'].mean(),0)
    air.at[i,'SO2'] = n

air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1491 entries, 0 to 1490
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1491 non-null   object
 1   SO2     1491 non-null   float64
 2   PM10    1491 non-null   float64
 3   O3      1475 non-null   float64
 4   NO2     1476 non-null   float64
 5   CO      1480 non-null   float64
 6   PM2.5   1491 non-null   float64
dtypes: float64(6), object(1)
memory usage: 81.7+ KB

In [21]:
df_null = air[air['O3'].isnull()]
index_list = air.index[air['O3'].isnull()].tolist()

for i in index_list:
    month = air[air['date'].str.contains(air['date'][i][:7]+'-')]
    n = round(month['O3'].mean(),0)
    air.at[i,'O3'] = n

air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1491 entries, 0 to 1490
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1491 non-null   object
 1   SO2     1491 non-null   float64
 2   PM10    1491 non-null   float64
 3   O3      1491 non-null   float64
 4   NO2     1476 non-null   float64
 5   CO      1480 non-null   float64
 6   PM2.5   1491 non-null   float64
dtypes: float64(6), object(1)
memory usage: 81.7+ KB

In [22]:
df_null = air[air['NO2'].isnull()]
index_list = air.index[air['NO2'].isnull()].tolist()

for i in index_list:
    month = air[air['date'].str.contains(air['date'][i][:7]+'-')]
    n = round(month['NO2'].mean(),0)
    air.at[i,'NO2'] = n

air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1491 entries, 0 to 1490
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1491 non-null   object
 1   SO2     1491 non-null   float64
 2   PM10    1491 non-null   float64
 3   O3      1491 non-null   float64
 4   NO2     1491 non-null   float64
 5   CO      1480 non-null   float64
 6   PM2.5   1491 non-null   float64
dtypes: float64(6), object(1)
memory usage: 81.7+ KB

In [23]:
df_null = air[air['CO'].isnull()]
index_list = air.index[air['CO'].isnull()].tolist()

for i in index_list:
    month = air[air['date'].str.contains(air['date'][i][:7]+'-')]
    n = round(month['CO'].mean(),0)
    air.at[i,'CO'] = n

air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1491 entries, 0 to 1490
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1491 non-null   object
 1   SO2     1491 non-null   float64
 2   PM10    1491 non-null   float64
 3   O3      1491 non-null   float64
 4   NO2     1491 non-null   float64
 5   CO      1491 non-null   float64
 6   PM2.5   1491 non-null   float64
dtypes: float64(6), object(1)
memory usage: 81.7+ KB

In [ ]:
# 결측값 채우고 새로운 csv 파일로 저장
air.to_csv("air_new.csv", mode='w', index=False)

# 중국 대기 월 평균으로 결측값 채우기

In [26]:
# 결측값 채우기 전 파일
beijing = pd.read_csv("beijing.csv")
beijing

            date  PM2.5  PM10
0     2017-06-01     23    57
1     2017-06-02     23    65
2     2017-06-03     29    56
3     2017-06-04     48    93
4     2017-06-05     65   115
...          ...    ...   ...
1486  2021-06-26     22    40
1487  2021-06-27     26    48
1488  2021-06-28     32    53
1489  2021-06-29     26    40
1490  2021-06-30     14    27

[1491 rows x 3 columns]

In [27]:
beijing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1491 entries, 0 to 1490
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1491 non-null   object
 1   PM2.5   1491 non-null   int64
 2   PM10    1491 non-null   int64
dtypes: int64(2), object(1)
memory usage: 35.1+ KB

In [31]:
df_null = beijing[beijing['PM10']==0]
index_list = beijing.index[beijing['PM10']==0].tolist()

for i in index_list:
    month = beijing[beijing['date'].str.contains(beijing['date'][i][:7]+'-')]
    n = round(month['PM10'].mean(),0)
    beijing.at[i,'PM10'] = n

len(beijing[beijing['PM10']==0])

0

In [32]:
df_null = beijing[beijing['PM2.5']==0]
index_list = beijing.index[beijing['PM2.5']==0].tolist()

for i in index_list:
    month = beijing[beijing['date'].str.contains(beijing['date'][i][:7]+'-')]
    n = round(month['PM2.5'].mean(),0)
    beijing.at[i,'PM2.5'] = n

len(beijing[beijing['PM2.5']==0])

0

In [ ]:
# 결측값 채우고 새로운 csv 파일로 저장
beijing.to_csv("beijing_new.csv", mode='w', index=False)

In [36]:
# 결측값 채우기 전 파일
tianjin = pd.read_csv("tianjin.csv")
tianjin

            date  PM2.5  PM10
0     2017-06-01     40    67
1     2017-06-02     14    52
2     2017-06-03     30    54
3     2017-06-04     35    70
4     2017-06-05     52    97
...          ...    ...   ...
1486  2021-06-26     32    61
1487  2021-06-27     37    70
1488  2021-06-28     43    77
1489  2021-06-29     27    46
1490  2021-06-30     27    44

[1491 rows x 3 columns]

In [37]:
tianjin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1491 entries, 0 to 1490
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1491 non-null   object
 1   PM2.5   1491 non-null   int64
 2   PM10    1491 non-null   int64
dtypes: int64(2), object(1)
memory usage: 35.1+ KB

In [38]:
df_null = tianjin[tianjin['PM10']==0]
index_list = tianjin.index[tianjin['PM10']==0].tolist()

for i in index_list:
    month = tianjin[tianjin['date'].str.contains(tianjin['date'][i][:7]+'-')]
    n = round(month['PM10'].mean(),0)
    tianjin.at[i,'PM10'] = n

len(tianjin[tianjin['PM10']==0])

0

In [39]:
df_null = tianjin[tianjin['PM2.5']==0]
index_list = tianjin.index[tianjin['PM2.5']==0].tolist()

for i in index_list:
    month = tianjin[tianjin['date'].str.contains(tianjin['date'][i][:7]+'-')]
    n = round(month['PM2.5'].mean(),0)
    tianjin.at[i,'PM2.5'] = n

len(tianjin[tianjin['PM2.5']==0])

0

In [ ]:
# 결측값 채우고 새로운 csv 파일로 저장
tianjin.to_csv("tianjin_new.csv", mode='w', index=False)

In [40]:
# 결측값 채우기 전 파일
jinan = pd.read_csv("jinan.csv")
jinan

            date  PM2.5  PM10
0     2017-06-01     72   164
1     2017-06-02     44   132
2     2017-06-03     28    79
3     2017-06-04     48   114
4     2017-06-05     23    63
...          ...    ...   ...
1486  2021-06-26     26    44
1487  2021-06-27     38    66
1488  2021-06-28     43    75
1489  2021-06-29     22    40
1490  2021-06-30     24    46

[1491 rows x 3 columns]

In [41]:
jinan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1491 entries, 0 to 1490
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1491 non-null   object
 1   PM2.5   1491 non-null   int64
 2   PM10    1491 non-null   int64
dtypes: int64(2), object(1)
memory usage: 35.1+ KB

In [42]:
df_null = jinan[jinan['PM10']==0]
index_list = jinan.index[jinan['PM10']==0].tolist()

for i in index_list:
    month = jinan[jinan['date'].str.contains(jinan['date'][i][:7]+'-')]
    n = round(month['PM10'].mean(),0)
    jinan.at[i,'PM10'] = n

len(jinan[jinan['PM10']==0])

0

In [43]:
df_null = jinan[jinan['PM2.5']==0]
index_list = jinan.index[jinan['PM2.5']==0].tolist()

for i in index_list:
    month = jinan[jinan['date'].str.contains(jinan['date'][i][:7]+'-')]
    n = round(month['PM2.5'].mean(),0)
    jinan.at[i,'PM2.5'] = n

len(jinan[jinan['PM2.5']==0])

0

In [44]:
# 결측값 채우고 새로운 csv 파일로 저장
jinan.to_csv("jinan_new.csv", mode='w', index=False)