## 데이터 불러오기

In [75]:
import pandas as pd
from pandas import DataFrame, Series

data_temp = pd.read_csv('기상_평균.csv', encoding = 'cp949')

data_temp

       지점 지점명          일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)
0     642  문화  2017-06-01      22.0       0.0         1.8
1     642  문화  2017-06-02      20.6       0.0         1.5
2     642  문화  2017-06-03      20.6       0.0         1.8
3     642  문화  2017-06-04      21.2       0.0         1.4
4     642  문화  2017-06-05      22.6       0.0         1.3
...   ...  ..         ...       ...       ...         ...
1485  642  문화  2021-06-26      22.7      11.5         0.9
1486  642  문화  2021-06-27      24.9       0.0         0.9
1487  642  문화  2021-06-28      25.1       0.0         1.2
1488  642  문화  2021-06-29      23.7       0.0         1.0
1489  642  문화  2021-06-30      24.6       9.0         0.9

[1490 rows x 6 columns]

## 결측값 찾기

In [76]:
data_temp[data_temp['평균기온(°C)'].isnull()] # 평균기온 결측값 1개

      지점 지점명          일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)
350  642  문화  2018-05-17       NaN       0.0         NaN

In [77]:
data_temp[data_temp['일강수량(mm)'].isnull()] # 일강수량 결측값 없음

Empty DataFrame
Columns: [지점, 지점명, 일시, 평균기온(°C), 일강수량(mm), 평균 풍속(m/s)]
Index: []

In [78]:
data_temp[data_temp['평균 풍속(m/s)'].isnull()] # 평균 풍속 결측값 4개

       지점 지점명          일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)
350   642  문화  2018-05-17       NaN       0.0         NaN
783   642  문화  2019-07-25      26.4      23.5         NaN
1230  642  문화  2020-10-14      12.8       0.0         NaN
1235  642  문화  2020-10-19      13.2       0.0         NaN

In [79]:
period_idx = pd.period_range('2017-06-01', '2021-06-30', freq='D')
sum = 0

for day in period_idx : 
    sum = sum + 1
    
sum # 본 데이터의 row 수가 1490 인것을 보아 하루가 모자란 것을 알 수 있음

1491

In [80]:
sum = 0

for day in period_idx :
    if data_temp['일시'][sum] != str(day) :
        print(day) # 데이터에서 모자란 하루를 출력
        break
    sum = sum + 1

2018-05-18

In [81]:
data_temp['일시'][345:355] # 2018년 18일이 빠져있는 것을 확인

345    2018-05-12
346    2018-05-13
347    2018-05-14
348    2018-05-15
349    2018-05-16
350    2018-05-17
351    2018-05-19
352    2018-05-20
353    2018-05-21
354    2018-05-22
Name: 일시, dtype: object

________________________________________

#### 결측값

- 평균 기온
    - 2018-05-17

- 평균 풍속
    - 2018-05-17
    - 2019-07-25	
    - 2020-10-14	
    - 2020-10-19

- row(날짜) 전체
    - 2018-05-18

________________________________________

## 결측값 채우기

#### row(날짜) 채워넣기

In [82]:
data_temp=data_temp.append({'지점' : '642' , '지점명' : '문화', '일시' : '2018-05-18', 
                            '평균기온(°C)' : 20.1, '일강수량(mm)' : 9.9, '평균 풍속(m/s)' : 1.8}
                           , ignore_index=True)

data_temp.tail() # 데이터 맨 마지막에 새로운 row 추가하여 값 넣기

       지점 지점명          일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)
1486  642  문화  2021-06-27      24.9       0.0         0.9
1487  642  문화  2021-06-28      25.1       0.0         1.2
1488  642  문화  2021-06-29      23.7       0.0         1.0
1489  642  문화  2021-06-30      24.6       9.0         0.9
1490  642  문화  2018-05-18      20.1       9.9         1.8

#### 평균 기온 채워넣기

In [83]:
data_temp[data_temp['일시'] == '2018-05-17']

      지점 지점명          일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)
350  642  문화  2018-05-17       NaN       0.0         NaN

In [84]:
data_temp=data_temp.append({'지점' : '642' , '지점명' : '문화', '일시' : '2018-05-17', 
                            '평균기온(°C)' : 26.2, '일강수량(mm)' : 0.2, '평균 풍속(m/s)' : 1.6}
                           , ignore_index=True)

#### 평균 풍속 채워넣기

In [85]:
data_temp[data_temp['일시'] == '2019-07-25']

      지점 지점명          일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)
783  642  문화  2019-07-25      26.4      23.5         NaN

In [86]:
data_temp=data_temp.append({'지점' : '642' , '지점명' : '문화', '일시' : '2019-07-25', 
                            '평균기온(°C)' : 26.4, '일강수량(mm)' : 23.5, '평균 풍속(m/s)' : 0.8}
                           , ignore_index=True)

In [87]:
data_temp[data_temp['일시'] == '2020-10-14']

       지점 지점명          일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)
1230  642  문화  2020-10-14      12.8       0.0         NaN

In [88]:
data_temp=data_temp.append({'지점' : '642' , '지점명' : '문화', '일시' : '2020-10-14', 
                            '평균기온(°C)' : 12.8, '일강수량(mm)' : 0.0, '평균 풍속(m/s)' : 1.1}
                           , ignore_index=True)

In [89]:
data_temp[data_temp['일시'] == '2020-10-19']

       지점 지점명          일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)
1235  642  문화  2020-10-19      13.2       0.0         NaN

In [90]:
data_temp=data_temp.append({'지점' : '642' , '지점명' : '문화', '일시' : '2020-10-19', 
                            '평균기온(°C)' : 13.2, '일강수량(mm)' : 0.0, '평균 풍속(m/s)' : 0.7}
                           , ignore_index=True)

In [91]:
data_temp.tail()

       지점 지점명          일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)
1490  642  문화  2018-05-18      20.1       9.9         1.8
1491  642  문화  2018-05-17      26.2       0.2         1.6
1492  642  문화  2019-07-25      26.4      23.5         0.8
1493  642  문화  2020-10-14      12.8       0.0         1.1
1494  642  문화  2020-10-19      13.2       0.0         0.7

In [92]:
data_temp.sort_values(by=['일시'], inplace=True)

data_temp # 결측값 채워넣은 이후 재정렬

       지점 지점명          일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)
0     642  문화  2017-06-01      22.0       0.0         1.8
1     642  문화  2017-06-02      20.6       0.0         1.5
2     642  문화  2017-06-03      20.6       0.0         1.8
3     642  문화  2017-06-04      21.2       0.0         1.4
4     642  문화  2017-06-05      22.6       0.0         1.3
...   ...  ..         ...       ...       ...         ...
1485  642  문화  2021-06-26      22.7      11.5         0.9
1486  642  문화  2021-06-27      24.9       0.0         0.9
1487  642  문화  2021-06-28      25.1       0.0         1.2
1488  642  문화  2021-06-29      23.7       0.0         1.0
1489  642  문화  2021-06-30      24.6       9.0         0.9

[1495 rows x 6 columns]

In [93]:
data_temp = data_temp.reset_index(drop=True)

data_temp # 인덱스 재정렬

       지점 지점명          일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)
0     642  문화  2017-06-01      22.0       0.0         1.8
1     642  문화  2017-06-02      20.6       0.0         1.5
2     642  문화  2017-06-03      20.6       0.0         1.8
3     642  문화  2017-06-04      21.2       0.0         1.4
4     642  문화  2017-06-05      22.6       0.0         1.3
...   ...  ..         ...       ...       ...         ...
1490  642  문화  2021-06-26      22.7      11.5         0.9
1491  642  문화  2021-06-27      24.9       0.0         0.9
1492  642  문화  2021-06-28      25.1       0.0         1.2
1493  642  문화  2021-06-29      23.7       0.0         1.0
1494  642  문화  2021-06-30      24.6       9.0         0.9

[1495 rows x 6 columns]

In [94]:
data_final = data_temp.drop(columns=['지점', '지점명'])

data_final

              일시  평균기온(°C)  일강수량(mm)  평균 풍속(m/s)
0     2017-06-01      22.0       0.0         1.8
1     2017-06-02      20.6       0.0         1.5
2     2017-06-03      20.6       0.0         1.8
3     2017-06-04      21.2       0.0         1.4
4     2017-06-05      22.6       0.0         1.3
...          ...       ...       ...         ...
1490  2021-06-26      22.7      11.5         0.9
1491  2021-06-27      24.9       0.0         0.9
1492  2021-06-28      25.1       0.0         1.2
1493  2021-06-29      23.7       0.0         1.0
1494  2021-06-30      24.6       9.0         0.9

[1495 rows x 4 columns]

In [95]:
data_final.to_csv('문화동_기상.csv', encoding='cp949', index=False)